* {
    box-sizing: border-box;
    font-family: 'arial';
    padding: 0;
    margin: 0;
}

h1 {
    padding-top: 20px;
    letter-spacing: 2px;
}


:root {
    text-align: center;
}



body {
    width: 100%;
    background-color: #2e3440;
    align-content: center;
}


.container {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.submit-button {
    border-radius: 12px;

    border-style: none;

    padding: 8px;

    background-color: #2e3440;

    color: white;

    font-weight: bold;

    cursor: pointer;
}

a > button{
    border-radius: 12px;

    border-style: none;

    padding: 8px;

    background-color: #2e3440;

    color: white;

    font-weight: bold;

    margin: 10px;

    cursor: pointer;

}

.submit-button:hover {
    background-color: #3b4252;

}

table {
    padding: 40px;
    width: 500px;
    height: 400px;
}

table th {
    background-color: #3b4252;
    color: white;
    width: 300px;
    border-radius: 10px;
}

table tr {
    width: 100px;
    border-radius: 10px;

}

table td {
    width: 200px;
    border-radius: 10px;
    background-color: #3b4252;
    color: white;
}

#msgs {
    width: 300px;
}

#horario {
    width: 100px;
}