<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>TaskManager</title>
</head>

<body>

    <div class="title">
        <h1>TaskManager</h1>
    </div>

    <div class="container">
        <h1>Sign in</h1>

        <form method="post" action="/register">

            <label for="name">Nome</label>
            <input type="text" id="input1" name="name">

            <label for="numero">Número de Telefone</label>
            <input type="tel" id="input2" name="phoneNum" pattern="{1}[0-8]{12}" oninput="formatPhoneNumber()">

            <label for="email">Email</label>
            <input type="email" id="input3" name="username">

            <label for="password">Senha</label>
            <input type="password" id="input4" name="password">

            <button type="submit">Sing in</button>
        </form>
    </div>

    <script>

        function formatPhoneNumber() {
            let phoneNumberInput = document.getElementById('input2');
            let phoneNumber = phoneNumberInput.value;

            let numericPhoneNumber = phoneNumber.replace(/\D/g, '');

            let formattedPhoneNumber = numericPhoneNumber.replace(/(\d{2})(\d{1})(\d{4})(\d{4})/, '$1 $2 $3 $4');

            phoneNumberInput.value = formattedPhoneNumber;
        }

    </script>

</body>

</html>
