<!DOCTYPE html>
<link rel="stylesheet" href="stylelist.css">
<title>TaskManager</title>
<header>
    <link rel="preconnect" href="http://fonts.googleapis.com">
    <link rel="preconnect" href="http://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style/stylelist.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</header>
<h1>TaskManager</h1>
<a href="/logout">Logout</a>
<body>
    <a href="/addTask"><button style="margin-top: 10px;" type="submit">Adicionar Nova Tarefa</button></a>
    <div class="container">
        <table>
            <tr>
                <th id="horario">Horário</th>
                <th id="msgs">Mensagens Agendadas</th>
                <th>Ações</th>
            </tr>
            <% if (locals.user){ %>
            <% if (locals.user.tasks.length > 0) {%>
            <% locals.user.tasks.forEach((task, index) => { %>
            <tr>
                <td><%= task.when.toLocaleTimeString() %></td>
                <td><%= task.description %></td>
                <td>
                    <form action="/deleteTask" method="post">
                        <input type="hidden" name="taskId" value="<%= task._id %>">
                        <button type="submit">Excluir</button>
                    </form>
                </td>
            </tr>
            <%})%>
            <% } }%>
        </table>
    </div>
</body>

